<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <springProperty scope="context" name="app.name" source="spring.application.name" defaultValue="wtapp"/>
    <springProperty scope="context" name="node.name" source="logging.node-name" defaultValue="master"/>

    <!-- 输出到控制台 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoder 默认配置为PatternLayoutEncoder -->
        <encoder>
            <pattern>%d %p %c{20} [%F:%L][%t] - %m%n
            </pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="INFO"/>
    <logger name="org.springframework.beans" level="ERROR"/>
    <logger name="org.hibernate" level="ERROR"/>
    <logger name="org.eclipse.jetty" level="DEBUG"/>

    <logger name="com.wt2024" level="DEBUG"/>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>